/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.accent-text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-color-accent);
}

.main-text {
  font-family: var(--font-family-main), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--text-weight-main);
  line-height: 21px;
  letter-spacing: normal;
  color: var(--text-color-main);
}

.button {
  appearance: none;
  block-size: 38px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: solid 2px var(--content-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
}

.content-button {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.content-button:focus-visible {
  box-shadow: 2px 2px 0 var(--content-color);
}

.content-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--button-pseudo-color-background);
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.5s ease-in-out;
}

.content-button:hover::before {
  transform: scaleX(1)
}

.header {
  margin: 100px 0;
  min-block-size: 327px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 2px var(--content-color);
  background-color: var(--background-color);
}

.header__logo-text {
  font-size: var(--logo-font-size);
}

.header__title-text {
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: solid 2px var(--content-color);
  background-color: var(--background-color);
}

.card__title {
  font-variation-settings: 'wght' var(--text-weight-title);
  line-height: normal;
  padding: 4px 10px;
  border-block-end: 2px solid var(--content-color);
}

.card__image-content {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__image-label {
  position: absolute;
  top: 23px;
  right: 11px;
  color: var(--img-label-color-fill);
  -webkit-text-stroke: 1px var(--img-label-color-stroke);
  text-shadow: 0 0 5px var(--img-label-color-stroke);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--img-label-color-stroke)) {
  .card__image-label {
    text-stroke: 1px var(--img-label-color-stroke);
  }
}

.card__text-content {
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--content-color);
}

.card__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
  padding: 25px 25px;
}

.card__icon-button {
  border: solid 2px transparent;
}

.card__icon-button:focus-visible {
  border-color: var(--content-color);
}

.card__like-button {
  padding-block-start: 5px;
  min-inline-size: 130px;

}

.button__text {
  line-height: 90%;
  color: var(--button-pseudo-color-text);
  mix-blend-mode: difference;
}

.save-button {
  block-size: 84px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 50px auto 100px;
  padding: 15px 20px;
  background-color: var(--background-color);
}

.save-button__icon {
  color: var(--button-pseudo-color-text);
  mix-blend-mode: difference;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: var(--background-color);
  block-size: min-content;
  padding: 30px 40px;
  margin: auto;
  border: solid 2px var(--content-color);
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialog__contents {
  display: flex;
  gap: 18px;
}

.save-dialog__icon {
  display: block;
  color: var(--content-color);
  width: 39px;
  flex-shrink: 0;
}

.save-dialog__message {
  line-height: 150%;
  text-transform: uppercase;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaling 0.3s ease-in 1 0.1s;
}

.like-icon.is-liked .sparks {
  animation: fading 0.3s ease-in 1 0.3s;
}
