/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scaling {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  margin: 100px 0;
  min-block-size: 327px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 2px #000;
  background-color: #fff;
}

.header__logo {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 49px;
  font-weight: normal;
  line-height: auto;
  letter-spacing: 0%;
}

.header__title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: auto;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: solid 2px #000;
  background-color: #fff;
}

.card__title {
  font-family: 'Inter-Variable', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 4px 10px;
  border-block-end: 2px solid #000;
}

.card__image-content {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__image-label {
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  top: 23px;
  right: 11px;
  color: rgb(0 0 0 / 0.5);
  -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
  text-shadow: 0 0 5px rgb(255 255 255 / 0.5);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px #fff) {
  .card__image-label {
    text-stroke: 1px #fff;
  }
}

.card__text-content {
  font-family: 'Inter-Variable', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid #000;
}

.card__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
  padding: 24px 25px;
}

.card__icon-button {
  appearance: none;
  block-size: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  border: solid 2px transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.card__like-button {
  position: relative;
  block-size: 40px;
  appearance: none;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 90%;
  font-weight: normal;
  width: min-content;
  align-self: end;
  padding: 10px 35px;
  background-color: transparent;
  border: solid 2px #000;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1)
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.save-button {
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: solid 2px #000;
  margin: 50px auto 60px;
  padding: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.save-button__icon {
  display: block;
  width: 28px;
}

.save-button__text {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 90%;
  padding-block-start: 20px;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialog__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.save-dialog__text-contents {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.save-dialog__icon {
  display: block;
  width: 39px;
  flex-shrink: 0;
}

.save-dialog__title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: normal;
}

.save-dialog__close-button {
  appearance: none;
  background-color: transparent;
  margin-block-start: 20px;
  padding: 10px 0;
  transition: box-shadow 0.3s ease;
}

.save-dialog__close-button:focus {
  outline: none;
}

.save-dialog__close-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.close-button__text {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 90%;
  font-weight: normal;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaling 0.3s ease-in 1 0.1s;
}

.like-icon.is-liked .sparks {
  animation: fading 0.3s ease-in 1 0.3s;
}
